<header data-aos="fade-down" data-aos-duration="2000">
    <div class="left">
        <img src="/assets/images/logo.png" alt="NextPlay logo">
        <h2><span style="color: #72a1dea2;">Next</span>Play</h2>
    </div>

    <ul>
        <li><a href="/index.html">Trang chủ</a></li>
        <li><a href="/products/index.html">Khám phá</a></li>
        <li><a href="/news/index.html">Tin tức</a></li>
        <li><a href="/about/index.html">Về chúng tôi</a></li>
    </ul>

    <div class="auth-buttons">
        <a href="/auth/login.html" class="auth-btn btn-login">
            <i class='bx bx-log-in'></i>
            <span>Đăng nhập</span>
        </a>
        <a href="/auth/register.html" class="auth-btn btn-signup">
            <i class='bx bx-user-plus'></i>
            <span>Đăng ký</span>
        </a>
    </div>

    <div class="menu-icon">
        <i class='bx bx-menu'></i>
    </div>
</header>
